<mvc:View xmlns:core="sap.ui.core" 
	xmlns:mvc="sap.ui.core.mvc" 
	xmlns="sap.m" 
	xmlns:l="sap.ui.layout" 
	xmlns:f="sap.ui.layout.form"
	controllerName="{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.{{projectName}}.controller.Detail" 
	xmlns:html="http://www.w3.org/1999/xhtml">
	<Page title="{i18n>titlePage3}" showNavButton="true" navButtonPress="toSecondPage">
		<content>
			<Toolbar>
				
			</Toolbar>
		</content>
	</Page>
</mvc:View>