<mvc:View xmlns:core="sap.ui.core" 
	xmlns:mvc="sap.ui.core.mvc" 
	xmlns="sap.m" 
	xmlns:l="sap.ui.layout" 
	xmlns:f="sap.ui.layout.form"
	controllerName="{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.{{projectName}}.controller.Main" 
	xmlns:html="http://www.w3.org/1999/xhtml">
	<Page title="{i18n>titlePage1}" showNavButton="true" navButtonPress="toFirstPage">
		<content>
			<Toolbar>
				<ToolbarSpacer/>
				<Button iconFirst="false" type="Emphasized" icon="sap-icon://navigation-right-arrow" text="{i18n>toThirdPage}" press="toThirdPage"></Button>
			</Toolbar>
		</content>
	</Page>
</mvc:View>